.git
.idea
Dnd.sln.DotSettings.user
logs.json

src/Infrastructure/obj
src/Infrastructure/bin

src/Dnd.API/bin
src/Dnd.API/obj

src/Dnd.BLL/bin
src/Dnd.BLL/obj

src/Dnd.DAL/bin
src/Dnd.DAL/obj

src/Dnd.Migrator/obj
src/Dnd.Migrator/bin